/* Chat Container */
.chat {
    z-index: 8;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    max-width: 100%;
    height: 100%;
    background: linear-gradient(145deg, #282c34, #1c1e24);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    overflow: hidden;
    transition:
        transform 0.3s ease,
        opacity 0.3s ease;
}

/* Header */
.chat .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: var(--primary-color);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: var(--border-radius) 0 0 0;
}

.chat .header .title {
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}

.chat .header .header-buttons {
    display: inline;
    float: right;
}

.chat .header button {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.2s ease;
}

.chat .header button:hover {
    color: #439fff;
}

/* Chat Body */
.chat .body {
    padding: 10px;
    background: var(--chat-bg);
    overflow-y: auto;
    height: 80vh;
    flex-grow: 1;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) transparent;
    transition: max-height 0.3s ease;
}

.chat .body .msg {
    margin-bottom: 20px;
}

.chat .body .msg .from {
    padding: 5px;
    font-weight: bold;
    color: var(--secondary-color);
    border-bottom: 0.1px solid #439fff;
}
.chat .body .msg .text {
    padding: 5px;
    border-radius: 10px;
    background: var(--chat-bg);
    color: var(--text-color);
    overflow: auto;
    word-wrap: break-word;
    user-select: text;
}

.chat .body .msg .text:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

/* Footer */
.chat .footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
    background: #2b2d36;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.chat .footer textarea {
    flex-grow: 1;
    padding: 5px;
    height: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    background: #2b2d36;
    color: var(--text-color);
    resize: none;
    font-size: 1rem;
    transition: height 0.3s ease;
}

.chat .footer textarea:focus {
    border-color: #439fff;
    height: 60px;
    outline: none;
    box-shadow: 0 0 5px #439fff;
}

.chat .footer .footer-buttons {
    display: flex;
    gap: 8px;
    margin: 10px;
}

.chat .footer .footer-buttons button {
    width: 2rem;
    height: 2rem;
    padding: 5px;
    border: none;
    border-radius: 50px;
    background: #439fff;
    color: white;
    text-align: center;
    font-size: 1.1rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.chat .footer .footer-buttons button:hover {
    background-color: var(--secondary-color);
}

.chat .body::-webkit-scrollbar,
.chat .msg .text::-webkit-scrollbar,
.chat .footer textarea::-webkit-scrollbar {
    width: 5px;
}

.chat .body::-webkit-scrollbar-track,
.chat .msg .text::-webkit-scrollbar-track,
.chat .footer textarea::-webkit-scrollbar-track {
    background: transparent;
}

.chat .body::-webkit-scrollbar-thumb,
.chat .msg .text::-webkit-scrollbar-thumb,
.chat .footer textarea::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

.chatEmojiPicker {
    position: absolute;
    bottom: 70px;
    right: 10px;
    background: var(--chat-bg);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    display: none;
    padding: 10px;
}

.chatEmojiPicker.show {
    display: block;
}

@media (max-width: 768px) {
    .chat {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 0 0;
    }

    .chat .header .title {
        font-size: 1rem;
    }

    .chat .footer textarea {
        height: 35px;
        font-size: 0.9rem;
    }

    .chat .footer .footer-buttons button {
        padding: 10px;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.3rem;
    }
}
