@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --primary-color: #202123;
    --secondary-color: #45494c;
    --text-color: #f5f5f5;
    --box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1);
}

body {
    display: flex;
    box-sizing: border-box;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    font-family: 'Montserrat';
}

form {
    width: 240px;
    padding: 10px 50px 40px 25px;
    color: var(--text-color);
    border-radius: 1rem;
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
}

form:focus-within {
    position: relative;
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
}

input {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: 0;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 16px;
    outline: none;
}

input:focus {
    box-shadow:
        0 1px 0 0 rgb(255 255 255 / 25%),
        0 -1px 0 0 rgb(255 255 255 / 25%),
        1px 0 0 0 rgb(255 255 255 / 25%),
        -1px 0 0 0 rgb(255 255 255 / 25%),
        1px -1px 0 0 rgb(255 255 255 / 50%),
        -1px 1px 0 0 rgb(255 255 255 / 50%),
        1px 1px 0 0 rgb(255 255 255 / 75%),
        -1px -1px 0 0 rgb(255 255 255 / 75%);
}

button {
    display: block;
    margin-top: 25px;
    width: 50%;
    padding: 12px;
    border: 0;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

button:hover {
    box-shadow:
        0 1px 0 0 rgb(255 255 255 / 25%),
        0 -1px 0 0 rgb(255 255 255 / 25%),
        1px 0 0 0 rgb(255 255 255 / 25%),
        -1px 0 0 0 rgb(255 255 255 / 25%),
        1px -1px 0 0 rgb(255 255 255 / 50%),
        -1px 1px 0 0 rgb(255 255 255 / 50%),
        1px 1px 0 0 rgb(255 255 255 / 75%),
        -1px -1px 0 0 rgb(255 255 255 / 75%);
}

#supportBtn {
    padding: 0px;
    margin-top: 40px;
    width: 100%;
    color: #bbbbbb;
    background-color: transparent;
    font-size: 0.7em;
    font-weight: bold;
    text-align: left;
    border-radius: 5px;
    transition: 0.2s ease-in;
    cursor: pointer;
}
#supportBtn:hover {
    transform: scale(0.9);
    box-shadow: none;
}
